.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.successImg {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
.container h1 {
  font-size: 22px;
}

.loginLink {
  margin-top: 40px;
}
