.error {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .error {
    padding-top: 160px;
    margin: 0;
    width: 100%;
  }
}
