.headerImg {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  @media screen and (max-width: 600px) {
    .headerImg {
      height: 200px;
    }
  }