<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BookIDOL</title>
</head>
<body style="background-color: #131111; padding: 20px; border-radius: 20px; color: white;">
  <p style="font-size: 18px; color: white !important;" >Name: {{name}}
    <p />
  <p style="font-size: 18px;color: white !important;">Email: {{email}}
    <p />
  <p style="font-size: 16px;color: white !important;">Message: <br /> <span style="padding-top: 6px;"> {{message}}</span></p>
</body>

</html>